.about {
  .about-img {
    text-align: center;
    padding-top: 60px;
    img {
      border-radius: 125px;
    }
  }
}
.name {
  &-en {
    font-family: Oswald;
    letter-spacing: 4px;
    margin: 30px 0 0 0;
  }
  &-ja {
    letter-spacing: 4px;
    font-size: 16px;
    margin: 10px 0;
  }
}
.describe-content {
  p {
    margin: 35px 0 0 0;
    font-size: 14px;
    letter-spacing: 3px;
  }
}
.sns-icons {
  width: 50%;
  display: flex;
  gap: 0 3em;
  margin-top: 75px;
  &--pc {
    display: none;
  }
}
